# Environment Variables

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# JWT
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# AES Encryption key for Mero Share account passwords (must be 32 bytes / 64 hex chars)
ENCRYPTION_KEY=your_64_character_hex_encryption_key_here

# Server
PORT=4000
NODE_ENV=development

# Meroshare username (this account will be used to fetch open ipos and to check if ipo result is published) - Meroshare username
REFERENCE_ACCOUNT_USERNAME=your_meroshare_username

# CORS — set to your frontend origin in production
CORS_ORIGIN=http://localhost:3000

# Evolution API Credentials to send whatsapp alert
EVOLUTION_API_URL=your_evolution_api_url
EVOLUTION_API_KEY=your_evolution_api_key
EVOLUTION_INSTANCE_NAME=ipo-messages
